@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --main-brown: #685331;
    --off-white: #fcfcfc;
    --black: #121212;
    --md-brown: #BA9D6D;

    --max-width: 1500px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    margin: 2px;
}
/*----------------------------------------check- background Colors */
body {
    background-color: var(--main-brown);
}

.offer-section {
     background-color: var(--main-brown);
}

#menu-bar {
    background-color: var(--main-brown);
}

.kurly-benefits {
    background-color: var(--main-brown);
}

.products {
    background-color: var(--black);
}

/*----------------------------------------- text */
body {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;    
}

form {
    font-family:'Cormorant Garamond', sans-serif;
    font-size: 20px;
}

.benefit-list {
    font-family: 'Cormorant Garamond', sans-serif;
    text-transform: uppercase;
    text-align: center;
    list-style-type: circle;
    list-style-position: inside;
    
}

.benefits {
    color: var(--off-white);
}

#menu-bar {
    position: relative;
}
   

p {
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
}

.nav-item a {
    font-family: 'Cormorant Garamond', sans-serif;
    color: var(--off-white); 
}

.nav-item a i {
    display: block;
    font-size: 24px;
    text-align: center;
}

nav a:hover {
  color: gold;
  text-decoration: none;
}

li {
     margin: 0 auto;
     padding: 8px;
     font-size: 20px;
     font-weight: 700;  
}

section {
    font-family: 'Cormorant Garamond', sans-serif; 
}

h2 h4 h1 {
    font-family: 'Cormorant Garamond', sans-serif;
    text-align: center;  
}
/*----------------------------------------- footer*/

footer {
    background-color: var(--main-brown);
    color: var(--off-white);
    font-family: 'Cormorant Garamond', sans-serif;
    font-size: 20px;
    text-align: center;
}

footer ul {
    font-size: 36px;
    padding-left: 0; 
}

footer a {
    color: var(--off-white);
}

footer img {
    padding-top: 8px;
}

footer h5 {
   padding-top: 8px;
    font-weight: 700;
    font-size: 24px;
}

footer a {
    text-align: center;
}
/*----------------------------------------- Homepage Image */

 #home-img {
     height: 800px;
     width: 100%;
     background: url(../images/COVER.jpg);
     background-size: cover;
     background-position: center center;
 }

 #cover-text h1 { 
     text-transform: uppercase;
} 

 #cover-text {
     font-family: 'Cormorant Garamond', sans-serif;
     color: var(--off-white);
     text-align: center;
     background-color: var(--main-brown);
     opacity: 0.7;
     padding-top: 20px;

     height:300px;
     width:400px;
     bottom: 50px;
     right: 50%;

     position: absolute;
     margin: 0 auto;
     
 }

 #cover-text i{
     font-weight: bold;
     font-size:24px;
 }

 #cover-img {
     position: relative;
     text-align: center;
        
 }

 /*----------------------------------------- Cover image Services */

 
 #service-img {
     height: 800px;
     width: 100%;
     background: url(../images/servicecoverimg.jpg);
     background-size: cover;
     background-position: center center;
 }

 #cover-text h1 { 
     text-transform: uppercase;
} 

 #cover-text {
     font-family: 'Cormorant Garamond', sans-serif;
     color: var(--off-white);
     text-align: center;
     background-color: var(--main-brown);
     opacity: 0.7;
     padding-top: 20px;

     height:300px;
     width:400px;
     bottom: 50px;
     right: 50%;

     position: absolute;
     margin: 0 auto;
     
 }

 #cover-text i{
     font-weight: bold;
     font-size:24px;
 }

 #cover-img {
     position: relative;
     text-align: center;
        
 }

/*----------------------------------------- Coaching Div box */



.offer-section h2 { 
    margin: 0px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    color: var(--off-white);
}

.offer-box {
    border: 4px solid var(--off-white);
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 24px;
    background-color: var(--black);
     opacity: 0.9;
     color: var(--md-brown);
}

.offer-section .offer-box {
    width: 48%;
    display: inline-block;
    height: 500px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: bold;
    font-size: 24px;
    font-weight: 600;
}

.offer-section .offer-box h4 {
    font-size: 32px;
    font-weight: bolder;
}

.offer-section p {
    font-size: 20px;
    margin-bottom: 0;
    text-align: center; 
    color: var(--off-white);
}
/*----------------------------------------- benefits  section */
.benefits {
    text-align: center;
    padding: 8px;
}

.benefits h2 {
    margin-bottom: 72px;
    position: relative;
    top: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
/*---------------------------------------- Testimonials */


.test-style h2 {
    color: var(--md-brown);
    text-align: center;
    text-transform: uppercase ;
    font-weight: bold;
    font-family: 'Cormorant Garamond', sans-serif;
    position: relative;
    margin: 30px 0 60px;
}

.test-style h2::after {
    content: "";
    width: 140px;
    position: absolute;
    margin: 0 auto;
    height: 3px;
    background-color: var(--main-brown);
    left: 0;
    right: 0;
    bottom: -10px;
    opacity: .8;
}

.col-center {
    margin: 0 auto;
    float: none!important;
}

.carousel {
    margin: 50px auto;
    padding: 0 70px;
}

.carousel-item {
    color: var(--md-brown);
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}

.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid var(--off-white);
    border-radius: 50%;
}

.carousel .img-box img {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 50%;
}

.carousel .test-p {
    padding: 30px 0 10px;
}

.carousel .overview {
    font-style: italic;
}

.carousel .overview strong {
    text-transform: uppercase;
    color: var(--md-brown);
}

.carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}

.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);

}

.carousel .carousel-indicators {
    bottom: -40px;
}

.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}

.carousel-indicators li {
          background: red;
          border-color: transparent;
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.carousel-indicators .active {
    background: red;
          border-color: transparent;
          box-shadow: inset 0 2px 1px rgba(0, 0, 0, 0.2);
}

.testimonial {
    background-color: var(--black);
}
/*----------------------------------------- Banner*/

#banner {
    width: 100%;
    height: 280px;
}

.gallery {
    text-align: center;
}

.gallery img {
    width: 250px;
    height: 250px;
    
}

#photos p {
    color: var(--md-brown);
    text-align: center;
}

.services {
    padding: 24px;
    background-color: var(--black);
    width: 100%;
}

#photos h2 {
    color: var(--md-brown);
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

#photos h4 {
    color: var(--md-brown);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    text-decoration: underline ;
    padding-bottom: 16px;
}

#photos {
    background-color: #eeeeee;
}

#photos p{
    color: var(--md-brown);
}

.contact-btn {
    color: var(--off-white);
    background-color: var(--md-brown);
    position: absolute;
    right: 30%;
}

.contact-btn a {
    font-size: 20px;
    color: #eeeeee;
    padding: 24px;
}

.contact-btn a:hover {
    color: gold;
}
/*----------------------------------------- Products & Service*/

.products h2 {
    color: var(--md-brown);
    font-weight:900;
    text-transform:uppercase;
    text-align:center;
}

.natural-products h4 {
    text-align: center;
    padding: 24px;
    color: var(--md-brown);
    text-decoration: underline;
}

.natural-products img {
    border-radius: 50%;
    padding: 16px;
}

.natural-products p {
    color: var(--md-brown);
}
/*----------------------------------------- Forms*/
 
form {
    background-color: var(--main-brown);
    color: var(--off-white);
}

form h2 {
    padding-top: 24px;
}

form button {
    margin-bottom: 16px;
    background-color: var(--main-brown);
    color: var(--off-white);
}

form .form-box {
    margin-left: 8px;
    margin-right: 8px;
    padding-left: 15%;
    padding-right: 15%;
}

/*----------------------------------------- Responsive Adjustments */

@media screen and (max-width: 529px){
    #banner {
        height:520px;
    }
}


@media screen and (max-width:943px) {
    
    #cover-text {
        left: 20px;
    }
}

@media screen and (max-width:943px) {

.offer-section .offer-box {
    width: 80%;
    height: 500px;
    padding: 10px;
    margin: auto;
    margin-bottom: 16px;
    display: block;
    text-align: center; 
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: bold;
    font-size: 24px;
    font-weight: 600;
}
}

@media screen and (max-width:543px) {

.offer-section .offer-box {
    width: 95%;
    height: 550px;
    padding: 10px;
    margin: auto;
    margin-top: 16px;
    margin-bottom: 16px;
    display: block;
    text-align: center;
    font-family: 'Cormorant Garamond', sans-serif;
    font-weight: bold;
    font-size: 24px;
    font-weight: 600;
}
}


@media screen and (max-width: 600px) {
#cover-text {
    left: 16px;
    width: 90%; 
}
}
